/* Estructura general */
.container-info {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;
}


.section-1 {
    position: relative;
    color: #333;
    height: 900px;
    overflow: hidden;
    width: 100%;
}


.background-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}


.section-1__text {
    position: absolute;
    font-size: 30px;
    margin-top: 20vh;
    margin-left: 100px;
    width: 650px;
}

.section-1__text p {
    color: #858585;
    font-size: 23px;
}

.section-1__text h1 {
    font-size: 60px;
}

.section-2 {
    width: 100%;
    height: 600px;
    gap: 30px;
    display: flex;
    padding: 60px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.section-2__text h1 {
    font-size: 40px;
}

.section-2__text {
    width: 40%;
}

.section-2 p {
    color: #858585;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.feature-card {
    background-color: #f8f9fa;
    padding: 20px;
    height: 250px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000000;
}

.feature-card p {
    font-size: 1rem;
    color: #555;
}

/* Benefits Section */
.benefits {
    margin-top: 40px;
}

.benefits h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0077b6;
    text-align: center;
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits ul li {
    font-size: 1.1rem;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.benefits ul li:last-child {
    border-bottom: none;
}

.loader {
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  body {
    margin: 0;
    padding-bottom: 60px; 
  }